[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
click = "==8.0.4"
Flask = "==2.0.3"
Flask-Login = "==0.5.0"
Flask-SQLAlchemy = "==2.5.1"
gunicorn = "==20.1.0"
idna = "==3.3"
itsdangerous = "==2.1.1"
Jinja2 = "==3.0.3"
joblib = "==1.1.0"
MarkupSafe = "==2.1.1"
nltk = "==3.7"
numpy = "==1.22.3"
Pillow = "==9.0.1"
psycopg2 = "==2.9.3"
psycopg2-binary = "==2.9.3"
regex = "==2022.3.15"
requests = "==2.27.1"
SQLAlchemy = "==1.4.32"

torch = {version = "==1.11.0+cpu", file = "https://download.pytorch.org/whl/cpu/torch-1.11.0%2Bcpu-cp310-cp310-linux_x86_64.whl"}

torchaudio = {version = "==0.11.0+cpu", file = "https://download.pytorch.org/whl/cpu/torchaudio-0.11.0%2Bcpu-cp310-cp310-linux_x86_64.whl"}

torchvision = {version = "==0.12.0+cpu", file = "https://download.pytorch.org/whl/cpu/torchvision-0.12.0%2Bcpu-cp310-cp310-linux_x86_64.whl" }
tqdm = "==4.63.1"
typing_extensions = "==4.1.1"
urllib3 = "==1.26.9"
Werkzeug = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.9"
